<div>
  <nav class="navbar navbar-light bg-dark p-2">
    <a class="navbar-brand text-white">E Commerce Angular</a>
    <i class="fas fa-shopping-cart"></i>
    <a class="navbar-brand text-white">
      <img style="height: 40px; width: 40px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="">
    </a>
    <form class="form-inline d-flex mx-auto align-items-center">
      <input class="form-control me-2 flex-grow-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <button style="background-color: transparent;
    border: none;" class=" rounded-full w-9 h-9">
    <mat-icon class="mat-icon" >shopping_cart_checkout</mat-icon>
  </button>
  </nav>
</div>
