<div class="container mt-4"> 
  <div class="d-flex justify-content-between align-items-center">
    <button class="btn btn-raised-button">Fiyat:</button>
    <div class="d-flex align-items-center">
      <input id="minPrice"  formControlName="minPrice"  placeholder="En az" style="width: 60px;"> 
      <span class="mx-1">-</span>
      <input id="maxPrice" formControlName="maxPrice"  placeholder="En çok" style="width: 60px;"> <br>
      <button (click)="filterProducts()" class=" btn btn-raised-button">Ok</button>
    </div>
  </div>
</div>
